<%= form_for(@nousarmicropost) do |f| %>
  <% if @nousarmicropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@nousarmicropost.errors.count, "error") %> prohibited this micropost from being saved:</h2>

      <ul>
      <% @nousarmicropost.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
